@import url('https://fonts.googleapis.com/css?family=Philosopher&display=swap');

body {
  margin: 0;
  padding: 0;
  background: url(img/bg.jpg) no-repeat;
}

.form {
  background-color: rgba(97, 96, 96, 0.238);
}

form {
  padding: 20px;
  margin-top: 60px;
}

.brand-logo {
  font-family: 'Philosopher', sans-serif;
}

form button,
form h5 {
  margin: 20px 0;
}

input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-color: orange;
  box-shadow: none;
}